:root {
	--highlight: oklch(0.44 0.3 266 / 0.75);
	--highlight-dark: oklch(from var(--highlight) calc(l - 0.15) c h);

	--border: black;
	--border-light: rgb(200, 198, 198);

	--text: rgb(66, 66, 66);
	--text-light: rgb(61, 100, 216);
}

* {
	box-sizing: border-box;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-size: min(15px, 1.5vw);
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#sudoku-controller {
	width: 50vw;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	position: relative;
}

#sudoku-controller button {
	color: white;
	background-color: var(--highlight);
	border: 1px solid var(--highlight-dark);
	border-radius: .5rem;
	padding: 8px 16px;
	cursor: pointer;
	position: relative;
}

#sudoku-controller button:hover {
	background-color: var(--highlight-dark);
}

#sudoku-container {
	display: grid;
	grid: repeat(9, auto) / repeat(9, auto);
	border: 2px solid var(--border);
	position: relative;
}

.sudoku-cell {
	color: var(--text-light);
	margin: 0;
	padding: 0;
	position: relative;
}

.sudoku-cell:has(input:focus) {
	outline: 2px solid var(--highlight);
	box-shadow: 0px 0px 6px 2px var(--highlight);
	z-index: 10;
}

.sudoku-cell input {
	aspect-ratio: 1 / 1;
	margin: 0;
	padding: 0;
	cursor: pointer;
	caret-color: transparent;
	width: 5rem;
	text-align: center;
	font-size: 3rem;
	z-index: 1;
	border: none;
	outline: none;
	background-color: transparent;
	border: 1px solid var(--border-light);
}

.sudoku-cell input:focus {
	border: none;
	outline: none;
	border: 1px solid white;
}

.note {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	font-weight: bold;
	pointer-events: none;
	z-index: 2;
	visibility: hidden;
}

.note-1 { top: 4px; left: 4px; }
.note-2 { top: 4px; left: 50%; transform: translateX(-50%); }
.note-3 { top: 4px; right: 4px; }
.note-4 { top: 50%; left: 4px; transform: translateY(-50%); }
.note-5 { top: 50%; left: 50%; transform: translate(-50%, -50%); }
.note-6 { top: 50%; right: 4px; transform: translateY(-50%); }
.note-7 { bottom: 4px; left: 4px; }
.note-8 { bottom: 4px; left: 50%; transform: translateX(-50%); }
.note-9 { bottom: 4px; right: 4px; }

.starting-cell {
	color: var(--text);
}

.br { border-right: 1px solid var(--border); }
.bb { border-bottom: 1px solid var(--border); }
.bl { border-left: 1px solid var(--border); }
.bt { border-top: 1px solid var(--border); }